body{
	background: #EEE0E5;
	text-align: center;
}

h1{
	text-align: center;
	color: #;
}

.updown{
	display: inline;
}

.blackbox{
	padding-top:2%;
	padding-bottom:2%;
	margin-top:2%;
	margin-bottom:2%;
	color:#EEE0E5;
	background-color:black;
}

#theTimer{
	font-size: 10vh;
	margin-bottom: 5vh;
}

#sessionOrBreak{
	font-size:5vh;
}
